/** main size and visibility of the extension. */
body {
    font-size: 14px;
    height: 600px;
    width: 600px;
}
body > div.container-fluid > nav,
body > div.container-fluid > div.tab-content {
    display: block;
    visibility: visible;
}
body.not-supported {
    height: 85px;
    width: 600px;
}
body > div.container-fluid > div.alert,
body.not-supported > div.container-fluid > nav,
body.not-supported > div.container-fluid > div.tab-content {
    display: none;
    visibility: hidden;
}
body.not-supported > div.container-fluid > div.alert {
    border-radius: 0;
    display: block;
    margin: 15px;
    visibility: visible;
}

/** main areas of the extension. */
div.container-fluid {
    min-height: 100%;
    padding: 0;
    position: relative;
}
div.container-fluid div.tab-content {
    padding: 7px 15px 2rem; 
}
div.container-fluid footer {
    bottom: 0;
    color: grey;
    font-size: 0.9em;
    font-style: italic;
    height: 2rem;
    line-height: 2rem;
    position: absolute;
    text-align: center;
    width: 100%;
}

/** navigation (tabs) of the extension. */
nav {
    background: #fff;
    position: sticky;
    top: 0;
}
nav div.nav-pills a.nav-item {
    border-radius: 0;
}

/** table to display the basic meta information of the site. */
table.item-list {
    border-collapse: separate; 
    border-spacing: 0 7px; 
    margin: 0;
    width: 100%;
}
table.item-list tr td:nth-child(1) {
    background: #f7f7f7;
    border-color: #f0f0f0;
    border-style: solid;
    border-width: 1px 0 1px 1px;
    font-weight: bolder;
    min-width: 135px;
    vertical-align: top;
}
table.item-list tr td:nth-child(1) span.info {
    color: grey;
    font-size: 0.9em;
    font-style: italic;
    font-weight: normal;
    word-break: keep-all;
}
table.item-list tr td:nth-child(1) span.info strong {
    font-weight: bolder;
}
table.item-list tr td:nth-child(1) span.info:not(:last-child) {
    margin-right: 5px;
}
table.item-list tr td:nth-child(1) a,
table.item-list tr td:nth-child(1) a:link {
    display: block;
    word-break: break-all;
}
table.item-list tr td:nth-child(2) {
    background: #f7f7f7;
    border-color: #f0f0f0;
    border-style: solid;
    border-width: 1px 1px 1px 0;
    vertical-align: top;
    word-break: break-word;
}
table.item-list tr td:nth-child(2) ul {
    margin: 0;
    padding: 0 0 0 20px;
}
table.item-list tr td:nth-child(2) div.theme-color {
    border: 1px solid #a0a0a0;
    display: inline-block;
    height: 20px;
    margin-left: 10px;
    vertical-align: bottom;
    width: 100px;
}
table.item-list tr td:nth-child(1):last-child {
    border-right-width: 1px;
    font-weight: normal;
    word-break: break-all;
}
table[id^="statistics-"] {
    text-align: center;
}

/** design for the headings information. */
table#list-headings td[class^="level-"] span:nth-of-type(1) {
    font-weight: bolder;
    padding-right: 7px;
}
table#list-headings td[class^="level-"] {
    word-break: keep-all;
}
table#list-headings td.level-h1 {
    padding-left: 5px;
}
table#list-headings td.level-h2 {
    padding-left: 15px;
}
table#list-headings td.level-h3 {
    padding-left: 25px;
}
table#list-headings td.level-h4 {
    padding-left: 35px;
}
table#list-headings td.level-h5 {
    padding-left: 45px;
}
table#list-headings td.level-h6 {
    padding-left: 55px;
}

/** design for the images information. */
tr[id^="img"] span.info {
    display:block;
}

/** cards to display lists in categories. */
div.accordion div.card {
    border-radius: 0;
}
div.accordion div.card div.card-body {
    padding: 1px 7px 0;
}
div.accordion div.card div.card-header {
    padding: 0;
}
div.accordion div.card div.card-header button {
    border-radius: 0;
    box-shadow: none;
    color: #000;
    font-weight: bolder;
    outline: 0;
}
div.accordion div.card div.card-header button span.info {
    float: right;
    font-size: 0.9em;
    font-style: italic;
}

/** table for the images. */
div#view-images div.img-preview img {
    background-image: url('img/bg-img-pattern.png');
    border: 2px solid black;
    bottom: 10px;
    height: auto;
    max-height: 200px;
    max-width: 200px;
    position: fixed;
    right: 10px;
    width: auto;
    z-index: 100;
}
table#info-tools div.heading {
    font-weight: bold;
}
table#info-tools .full-link {
    color: #000;
    text-decoration: none;
}
table#info-tools .full-link:hover {
    text-decoration: none;
}