body {
    font-size: 14px;
    height: 600px;
    margin: -1px auto 0 auto;
    padding: 1px 0 0 0;
    width: 600px;
}
body div#not-supported {
    display: none;
    visibility: hidden;
}
body.not-supported div#not-supported {
    display:block;
    visibility: visible;
}
div#not-supported {
    background: #fff;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
nav div.nav-tabs,
nav div.nav-pills {
    margin-top:5px;
}
#nav-summary table tr td:first-child {
    font-weight: bold;
    min-width: 135px;
}
#nav-summary table tr td:first-child span:nth-of-type(1) {
    margin-right: 5px;
}
div.tab-pane {
    padding-top: 10px;
}
div#not-supported div.alert {
    margin: 15px 0 15px;
}

/*
 * Summary
 */
table#meta-head-info tbody tr td {
    word-break: break-word;
}
table#meta-head-info tbody tr td div.theme-color {
    border: 1px solid #000;
    display: inline-block;
    height: 11px;
    margin-left: 10px;
    width: 75px;
}
table#info-headers tbody tr td {
    word-break: break-word;
}
#table#info-headers tr td:first-child {
    font-weight: bold;
    min-width: 135px;
}

/*
 * Meta
 */
.card-header button span.badge {
    float: right;
    margin-top: 4px;
}
table#meta-opengraph-article,
table#meta-facebook,
table#meta-opengraph,
table#meta-others,
table#meta-parsely,
table#meta-twitter,
table#meta-dublin-core {
    margin: 0;
    word-break: break-word;
 }

table#meta-opengraph-article tr td:first-child,
table#meta-facebook tr td:first-child,
table#meta-opengraph tr td:first-child,
table#meta-others tr td:first-child,
table#meta-parsely tr td:first-child,
table#meta-twitter tr td:first-child,
table#meta-dublin-core tr td:first-child {
    font-weight: bold;
    min-width: 135px;
    width: auto;
}
div#meta-opengraph-article-content .card-body,
div#meta-facebook-content .card-body,
div#meta-opengraph-content .card-body,
div#meta-others-content .card-body,
div#meta-parsely-content .card-body,
div#meta-twitter-content .card-body,
div#meta-dublin-core-content .card-body {
    padding: 0;
}
div#meta-opengraph-content table#meta-opengraph tr td:first-child span:first-of-type,
div#meta-twitter-content table#meta-twitter tr td:first-child span:first-of-type,
div#meta-others-content table#meta-others tr td:first-child span:first-of-type {
    margin-right: 5px;
}

/*
 * Headings
 */
div#view-headings table#statistics-headings {
    text-align: center;
}
div#view-headings table#list-headings td[class^="level-"] span:nth-of-type(1) {
    font-weight: bold;
    padding-right: 10px;
}
div#view-headings table#list-headings td.level-h1 {
    padding-left: 10px;
}
div#view-headings table#list-headings td.level-h2 {
    padding-left: 20px;
}
div#view-headings table#list-headings td.level-h3 {
    padding-left: 30px;
}
div#view-headings table#list-headings td.level-h4 {
    padding-left: 40px;
}
div#view-headings table#list-headings td.level-h5 {
    padding-left: 50px;
}
div#view-headings table#list-headings td.level-h6 {
    padding-left: 60px;
}
div#view-headings table#list-headings td[class^="level-"] span:nth-of-type(2) {
    margin-right: 5px;
}

/*
 * Images
 */
div#view-images table#statistics-images {
    text-align: center;
}
div#view-images table#list-images > tbody {
    word-break: break-all;
}

/*
 * Hyperlinks
 */
div#view-hyperlinks table#statistics-hyperlinks,
div#view-hyperlinks table#statistics-protocols {
    text-align: center;
}
div#view-hyperlinks table#list-hyperlinks > tbody {
    word-break: break-word;
}

/*
 * Files
 */
div#view-files table#files-stylesheet,
div#view-files table#files-javascript {
    margin: 0;
    word-break: break-word;
}
div#view-files div#stylesheet-content .card-body,
div#view-files div#javascript-content .card-body {
    padding: 0;
}

/* 
 * Overwrites for Bootstrap 4.5 to customize the design.
 */
div.alert {
    border-radius: 0;
}
span.badge {
    border-radius: 0;
}
nav div.nav-pills a.nav-item,
nav div.nav-tabs a.nav-item {
    border-radius: 0;
}
.accordion .card {
    border-radius: 0;
}
.accordion .card .btn.focus,
.accordion .card .btn:focus {
    outline: 0;
    box-shadow: none;
}
.accordion .card .card-header {
    padding-bottom: 0;
    padding-top: 0;
}
.accordion .card .card-header button {
    color: #000;
    font-weight: bold;
}