/** main size and visibility of the extension. */
body {
    font-size: 14px;
    height: 600px;
    min-width: 600px;
    max-width: 700px;
}
body > div.container-fluid > nav {
    z-index: 999;
}

/** main areas of the extension. */
div.container-fluid {
    min-height: 100%;
    padding: 0;
    position: relative;
}

/** table to display the basic meta information of the site. */
table.item-list {
    border-collapse: separate;
    border-spacing: 0 7px;
    margin: 0;
    width: 100%;
}
table.item-list tr td:nth-child(1) {
    background: #f7f7f7;
    border-color: #f0f0f0;
    border-style: solid;
    border-width: 1px 0 1px 1px;
    font-weight: bolder;
    min-width: 135px;
    vertical-align: top;
}
table.item-list tr td:nth-child(1) a,
table.item-list tr td:nth-child(1) a:link {
    display: block;
    word-break: break-all;
}
table.item-list tr td:nth-child(2) {
    background: #f7f7f7;
    border-color: #f0f0f0;
    border-style: solid;
    border-width: 1px 1px 1px 0;
    vertical-align: top;
    word-break: break-word;
}
table.item-list tr td:nth-child(2) ul {
    margin: 0;
    padding: 0 0 0 20px;
}
table.item-list tr td:nth-child(2) div.theme-color {
    border: 1px solid #a0a0a0;
    display: inline-block;
    height: 20px;
    line-height: 18px;
    min-width: 100px;
    padding: 0 10px;
    text-align: center;
    vertical-align: bottom;
}
table.item-list tr td:nth-child(2) div.theme-color:not(:first-child) {
    margin-left: 10px;
}
table.item-list tr td:nth-child(1):last-child {
    border-right-width: 1px;
    font-weight: normal;
    word-break: break-all;
}
table[id^="statistics-"] {
    text-align: center;
}

/** design for the headings information. */
table#list-headings tr[class^="level-"] td span:nth-of-type(1) {
    font-weight: bolder;
    padding-right: 7px;
}
table#list-headings tr[class^="level-"] {
    word-break: keep-all;
}
table#list-headings tr.level-h1 td {
    padding-left: 5px;
}
table#list-headings tr.level-h2 td {
    padding-left: 15px;
}
table#list-headings tr.level-h3 td {
    padding-left: 25px;
}
table#list-headings tr.level-h4 td {
    padding-left: 35px;
}
table#list-headings tr.level-h5 td {
    padding-left: 45px;
}
table#list-headings tr.level-h6 td {
    padding-left: 55px;
}
td[id^="headings-h"].green {
    background-color: green;
}
td[id^="headings-h"] {
    background-color: white;
}

/** design for the images information. */
tr[id^="img"] span.info {
    display:block;
}

/** table for the images. */
div.img-preview img {
    background-image: url('img/bg-img-pattern.png');
    border: 2px solid black;
    bottom: 10px;
    height: auto;
    max-height: 200px;
    max-width: 200px;
    position: fixed;
    right: 10px;
    width: auto;
    z-index: 100;
}
table#info-tools div.heading {
    font-weight: bold;
}
table#info-tools .full-link {
    color: #000;
    text-decoration: none;
}
table#info-tools .full-link:hover {
    text-decoration: none;
}
table#list-hyperlink-domains tr td:nth-child(1),
table#list-files-stylesheet-domains tr td:nth-child(1),
table#list-files-javascript-domains tr td:nth-child(1) {
    padding-left: 15px;
}
table#list-image-domains tr td:nth-child(2),
table#list-hyperlink-domains tr td:nth-child(2),
table#list-files-stylesheet-domains tr td:nth-child(2),
table#list-files-javascript-domains tr td:nth-child(2) {
    padding-right: 15px;
    text-align: right;
}
table#list-image-icons tr td a,
table#list-image-icons tr td a:link {
    display: block;
}
table.item-list tr.alert td {
    border: 0;
    background: none;
}
table.item-list tr.alert div.alert {
    margin: 0;
    font-weight: bold;
    border-radius: 0;
}

/** navigation / tabs of the extension. */
nav {
	background: #fff;
	position: sticky;
	top: 0;
}
div.nav-pills button.nav-link {
	border-radius: 0;
}

/** formatting for the additional information. */
td span.info strong {
	font-style: italic;
	font-weight: bolder;
	margin-right: 4px;
}
td span.info {
	color: grey;
	display: inline-block;
	font-size: 0.9em;
	font-style: italic;
	font-weight: normal;
	word-break: keep-all;
}
td span.info:not(:last-child) {
	margin-right: 5px;
}

/** changes to the accordion. */
div.accordion-body {
	padding: 0;
}
div.accordion-body div.tab-content {
	padding: 0;
}
button.accordion-button:focus {
	box-shadow: none;
}
button.accordion-button::after {
	margin: 0;
}

/** changes to the tabs. */
div.container-fluid div.tab-content {
	padding: 7px;
}
div.container-fluid div.tab-pane div.tab-content {
	padding: 0;
}
div.container-fluid div.tab-pane div.tab-content table td {
	font-weight: normal;
}
div.container-fluid div.tab-pane table {
	margin-bottom: 7px;
}

/** hint for not supported sites. */
body.not-supported {
	height: 100%;
	width: 600px;
}
body.not-supported div.container-fluid,
body:not(.not-supported) div.alert-not-supported {
	display: none;
	visibility: hidden;
}
body:not(.not-supported) div.container-fluid,
body.not-supported div.alert-not-supported {
	display: block;
	visibility: visible;
}
body.not-supported div.alert-not-supported {
	border-radius: 0;
	margin: 15px;
}