body {
    font-size: 14px;
    height: 600px;
    margin: -1px auto 0 auto;
    padding: 1px 0 0 0;
    width: 600px;
}
body.not-supported {
    height: 200px;
}
body div#not-supported {
    display: none;
    visibility: hidden;
}
body.not-supported div#not-supported {
    display:block;
    visibility: visible;
}
div#not-supported {
    background: #fff;
    border: 4px solid red;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
table td, table th {
    padding: 5px;
}
body div.container {
    width:95%;
}
div#meta-heading-list div[class^="level-"] span.badge {
    float: none;
}
table#meta-links > tbody > tr > td span.badge {
    float: none;
    margin-right: 5px;
}
table#meta-head > tbody > tr > td > span.badge {
    margin-right: 5px;
}
table#meta-head tr td:first-child {
    font-weight: bold;
    width: 150px;
}
table#meta-head tr td, table#meta-links tr td {
    vertical-align: top;
}
div#meta-heading-list div[class^="level-"] span:nth-child(1) {
    font-weight: bold;
    padding-right: 10px;
}
div#meta-heading-list div.level-H1 {
    padding-left:10px;
}
div#meta-heading-list div.level-H2 {
    padding-left:20px;
}
div#meta-heading-list div.level-H3 {
    padding-left:30px;
}
div#meta-heading-list div.level-H4 {
    padding-left:40px;
}
div#meta-heading-list div.level-H5 {
    padding-left:50px;
}
div#meta-heading-list div.level-H6 {
    padding-left:60px;
}
table#meta-images > tbody > tr > td {
    word-wrap: break-word;
}
table#meta-images-stats td,
table#meta-images-stats th,
table#meta-links-stats td,
table#meta-links-stats th,
table#meta-headings-stats td,
table#meta-headings-stats th {
    text-align: center;
}
div#images h5 {
    font-weight: bold;
}
.theme-color-preview {
    border: 1px solid black;
    width: 15px;
    display:inline-block;
    height: 100%;
    height:15px;
    margin-left: 15px;
}