body {
	font-size: 14px;
	height: 600px;
	max-width: 700px;
	min-width: 600px;
}
html,
body {
	overflow: hidden scroll;
}
::-webkit-scrollbar {
	background: #eee;
	position: absolute;
	width: 8px;
}
::-webkit-scrollbar-thumb {
	background: #ddd;
}
div.nav-pills button.nav-link {
	border-radius: 0;
}
nav.nav-main {
	z-index: 999;
}
nav.nav-main div.nav-pills button.nav-link {
	width: 100%;
}
div.container-fluid {
	padding: 0;
}
div.container-fluid > nav {
	background: #fff;
	position: sticky;
	top: 0;
}
div.container-fluid div.tab-content {
	padding: 0 7px 7px;
}
div.container-fluid div.tab-pane div.tab-content {
	padding: 0;
}
div.container-fluid div.tab-pane div.tab-content table td {
	font-weight: normal;
}
table[id$="stats"] th,
table[id$="stats"] td {
	text-align: center;
}

/** common table design */
table.item-list {
	border-collapse: separate;
	border-spacing: 0 7px;
	margin-bottom: 0;
	width: 100%;
}
table.item-list tr:not(.empty-alert) td:first-child {
	background: #f7f7f7;
	border-color: #f0f0f0;
	border-width: 1px 0 1px 1px;
	font-weight: bolder;
	min-width: 135px;
	vertical-align: top;
}
table.item-list tr:not(.empty-alert) td:first-child:last-child {
	border-width: 1px;
}
table.item-list tr:not(.empty-alert) td:first-child a,
table.item-list tr:not(.empty-alert) td:first-child a:link {
	display: block;
	font-weight: normal;
	word-break: break-all;
}
table.item-list tr:not(.empty-alert) td:nth-child(2) {
	background: #f7f7f7;
	border-color: #f0f0f0;
	border-width: 1px 1px 1px 0;
	vertical-align: top;
	word-break: break-word;
}
table.item-list tr:not(.empty-alert) td:nth-child(2) ul {
	margin: 0;
	padding: 0 0 0 20px;
}
table.item-list tr:not(.empty-alert) td:nth-child(2) div.theme-color {
	border: 1px solid #a0a0a0;
	display: inline-block;
	line-height: 18px;
	min-width: 100px;
	padding: 0 5px;
	text-align: center;
}
table.item-list tr:not(.empty-alert) td:nth-child(2) div.theme-color:not(:last-child) {
	margin-right: 10px;
}

/** list of headings */
table#list-headings tr td {
	font-weight: normal;
	word-break: break-word;
}
table#list-headings tr[class^="level-"] td span:nth-of-type(1) {
	font-weight: bolder;
	padding-right: 7px;
}
table#list-headings tr.level-h1 td {
	padding-left: 5px;
}
table#list-headings tr.level-h2 td {
	padding-left: 15px;
}
table#list-headings tr.level-h3 td {
	padding-left: 25px;
}
table#list-headings tr.level-h4 td {
	padding-left: 35px;
}
table#list-headings tr.level-h5 td {
	padding-left: 45px;
}
table#list-headings tr.level-h6 td {
	padding-left: 55px;
}

/** list of images */
table#list-images tr span.info {
	display: block;
}

/** image preview */
div.img-preview img {
	background-image: url("img/bg-img-pattern.png");
	border: 2px solid #000;
	bottom: 10px;
	max-height: 250px;
	max-width: 250px;
	position: fixed;
	right: 18px;
	z-index: 999;
}

/** tools */
table#info-tools a.full-link {
	color: #000;
	text-decoration: none;
}
table#info-tools td:hover {
	background: #f3f3f3;
}
table#info-tools div.heading {
	font-weight: bold;
}
#view-tools {
	padding-bottom: 18px;
}
#view-tools .about {
	background: #fff;
	border-top: 1px solid #777;
	bottom: 0;
	display: flex;
	left: 0;
	padding: 0 10px;
	position: absolute;
	right: 8px;
}
#view-tools .about a {
	color: #777;
	font-size: 0.8em;
	margin: 3px 0;
}
#view-tools .about a:not(:last-child)::after {
	content: "|";
	margin: 0 7px;
}

/** empty alert (hint for tables without content) */
table tr.empty-alert td {
	border: 0;
	padding: 0;
}
table tr.empty-alert td div.alert {
	font-weight: bold;
}
div.alert.empty-alert {
	font-weight: bold;
}

/** additional information */
td span.info strong {
	margin-right: 4px;
}
td span.info {
	color: grey;
	display: inline-block;
	font-size: 0.9em;
	font-style: italic;
	font-weight: normal;
	word-break: keep-all;
}
td.color-green span.info {
	color: #2db83d;
}
td.color-orange span.info {
	color: #f39f18;
}
td.color-red span.info {
	color: #f00;
}
td span.info:not(:last-child) {
	margin-right: 5px;
}

/** accordion */
div.accordion-body,
div.accordion-body div.tab-content {
	padding: 0;
}
button.accordion-button:focus {
	box-shadow: none;
}
button.accordion-button::after {
	margin: 0;
}

/** hint for not supported tabs */
body.not-supported {
	height: 100%;
	overflow-y: hidden;
}
body.not-supported div.container-fluid,
body:not(.not-supported) div.alert-not-supported {
	display: none;
	visibility: hidden;
}
body:not(.not-supported) div.container-fluid,
body.not-supported div.alert-not-supported {
	display: block;
	visibility: visible;
}
body.not-supported div.alert-not-supported {
	border-radius: 0;
	margin: 15px;
}
